POSTGRES_USER=membrane
POSTGRES_PASSWORD=use-some-random-words-maybe
POSTGRES_DB=live_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
VIRTUAL_HOST=localhost
INTEGRATED_TURN_IP=127.0.0.1

GOOGLE_CLIENT_ID=1003639280735-i6pl1d6m7f70m4ml66hgbno54qdj4a7o.apps.googleusercontent.com