export USE_INTEGRATED_TURN=true
export INTEGRATED_TURN_IP=127.0.0.1
export VIRTUAL_HOST=localhost
export POSTGRES_USER=membrane
export POSTGRES_PASSWORD=Amuck7-Aviation-Glove-Commence
export POSTGRES_DB=membrane_live_db
export POSTGRES_HOST=localhost
export POSTGRES_PORT=5432
export PHOENIX_PORT=4001
export GOOGLE_CLIENT_ID="1003639280735-i6pl1d6m7f70m4ml66hgbno54qdj4a7o.apps.googleusercontent.com"

