# This file contains the configuration for Credo and you are probably reading
# this after creating it with `mix credo.gen.config`.
#
# If you find anything wrong or unclear in this file, please report an
# issue on GitHub: https://github.com/rrrene/credo/issues
#
version: 2.1
orbs:
  elixir: membraneframework/elixir@1

jobs:
  # Job equal to elixir/test, but with postgres docker image added and database created
  test_with_db:
    docker:
      - image: membraneframeworklabs/docker_membrane:latest
        environment:
          MIX_ENV: test

      - image: cimg/postgres:14.0
        environment:
          POSTGRES_USER: swm
          POSTGRES_PASSWORD: swm123

    steps:
      - checkout
      - run:
          command: mkdir -p priv
          name: Ensure priv dir exists
      - elixir/get_mix_deps
      - elixir/use_build_cache:
          env: test
      - run:
          command: mix deps.compile
          name: Ensure native deps are compiled
      - run:
          command: mix ecto.create
          name: Create test database
      - run:
          command: mix test --warnings-as-errors
          name: Run all tests
 


workflows:
  version: 2
  build:
    jobs:
      - elixir/build_test
      - test_with_db
      - elixir/lint
