@keyframes heartfade {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.heart {
  z-index: 999;
  animation: heartfade 6s linear;
  position: absolute;
}

.heart:before {
  content: "";
  background-color: #fc2a62;
  position: absolute;
  height: 30px;
  width: 45px;
  border-radius: 15px 0px 0px 15px;
  transform: rotate(45deg);
}

.heart:after {
  content: "";
  background-color: #fc2a62;
  position: absolute;
  height: 30px;
  width: 45px;
  border-radius: 15px 0px 0px 15px;
  left: 10.5px;
  transform: rotate(135deg);
}

.heartButton,
.confettiButton {
  padding: 0 1.5rem;
  font-size: 24px;
}

.heartContainer,
.confettiContainer {
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  z-index: 1;
}

.heartContainer {
  bottom: 3rem;
}

.confettiContainer {
  top: 8rem;
}
