@import "../main.css";

.EventPage {
  background: var(--bg-light-color-1);
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.MainGrid {
  flex: 1;
  min-height: 0;
  display: flex;
  gap: 2.5rem;
}

@media screen and (max-width: 500px), screen and (max-height: 500px) {
  .EventPage {
    overflow: scroll;
  }
}
