@import "../main.css";

.EventPage {
  background: var(--bg-light-color-1);
  width: 100vw;
  height: calc(var(--window-inner-height) - 1px);
  overflow: hidden;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  box-sizing: border-box;
}

.MainGrid {
  flex: 1;
  min-height: 0;
  display: flex;
  gap: 2.5rem;
  position: relative;
}

@media screen and (max-width: 500px), screen and (max-height: 500px) {
  .EventPage {
    padding: 0;
    overflow: scroll;
  }
}
