@import "../main.css";

.Header {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.Arrow {
  box-sizing: content-box;
  background: var(--bg-light-color-2);
  height: 3.2rem;
  width: auto;
  padding: 1rem;
  border-radius: 50%;
}

.Title {
  color: var(--font-dark-color);
  font-size: 2.4rem;
}

.InfoWrapper {
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.WebinarInfo {
  color: var(--font-dark-color);
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.CopyLink {
  color: var(--font-dark-color);
  background: var(--bg-light-color-2);
  border: 1px solid var(--bg-light-color-3);
  border-radius: 24px;
  padding: 0.5rem 1.7rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.User {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.UsersIcon {
  height: 2rem;
  width: auto;
}

.CopyButton {
  margin-right: 0;
  margin-left: auto;
}

.UserIcon {
  color: var(--font-dark-color);
  height: 4.8rem;
  width: auto;
  border-radius: 50%;
}

.UserName {
  font-size: 2rem;
  color: var(--font-dark-color);
}

.Link {
  max-width: 18ch;
  font-size: 1.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ParticipantsNumber {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
