.MediaControlBar {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;
  min-height: auto;
}

.BottomBar {
  display: flex;
  flex-direction: row;
}

.BottomBarLeft {
  width: 30%;
  padding-left: 1rem;
}

.BottomBarRight {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
}

.BottomBarCenter {
  width: 40%;
  display: flex;
  justify-content: center;
}

.TopBar {
  display: flex;
}

.MediaTimeRange {
  flex-grow: 1;
  /*width: 90%;*/
  --media-range-track-height: 0.6rem;
  --media-range-thumb-height: 1.2rem;
  --media-range-thumb-width: 1.2rem;
  --media-range-track-border-radius: 24px;
  --media-range-bar-color: var(--button-red);
  --media-range-thumb-background: var(--button-red);
}

.MediaTimeDisplay {
  /*width: max(10%, 100px);*/
}

.MediaVolumeRange {
  width: 20%;
}

.MediaBackground {
  background-color: transparent;
}

.ControlButtons path {
  stroke: white;
  fill: transparent;
}

.LeftStreamIcons {
  width: 50px;
  height: 50px;
  background-color: blue;
  position: absolute;
  z-index: 1000;
  left: 0;
}

.RightStreamIcons {
  width: 50px;
  height: 50px;
  background-color: yellow;
  position: absolute;
  z-index: 1000;
  right: 0;
}

.MediaPlayerButtonSection {
  /*width: 50px;*/
  /*height: 50px;*/
  /*background-color: red;*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*align-items: flex-end;*/
  /*justify-content: space-between;*/
  /*position: absolute;*/
  /*top: 0;*/

  width: 50px;
  height: 50px;
  background-color: blue;
  position: absolute;
  z-index: 1000;
  right: 0;
}

.PlayerSidebarLeft {

}

