.MobileBottomPanel {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: white;

  border-radius: 16px;
  bottom: -60vh;

  -webkit-box-shadow: 0px -4px 25px 0px rgba(66, 68, 90, 0.45);
  -moz-box-shadow: 0px -4px 25px 0px rgba(66, 68, 90, 0.45);
  box-shadow: 0px -4px 25px 0px rgba(66, 68, 90, 0.45);

  overscroll-behavior-y: contain;
}

.MobileBottomPanelTopBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 100%;
}

.MobileBottomPanelTopBarBar {
  background-color: #8b8b8b;
  height: 4px;
  width: 100px;
  border-radius: 4px;
}

.MobileBottomPanelContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  width: 100%;
}

.SlideInAnimation {
  animation-duration: 1s;
  animation-name: slideIn;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-60vh);
  }
}

.SlideOutAnimation {
  animation-duration: 1s;
  animation-name: slideOut;
  animation-fill-mode: forwards;
}

@keyframes slideOut {
  from {
    transform: translateY(-60vh);
  }

  to {
    transform: translateY(0);
  }
}
