.MobileBottomPanel {
  position: fixed;
  z-index: 1000;
  width: 100%;
  /*height: 50vh;*/
  background-color: white;

  border-radius: 16px;
}

.MobileBottomPanel--TopBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 100%;
  /*background-color: #00a000;*/
}

.MobileBottomPanel--TopBar--Bar {
  background-color: #8b8b8b;
  height: 4px;
  width: 100px;
  border-radius: 4px;
}

.MobileBottomPanel--Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  width: 100%;
}

.SlideInAnimation {
  animation-duration: 1s;
  animation-name: slideIn;
  /*bottom: 0;*/
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(-60vh);
  }

  to {
    transform: translateY(0);

    /*bottom: 0;*/
  }
}

.SlideOutAnimation {
  animation-duration: 1s;
  animation-name: slideOut;
  animation-fill-mode: forwards;
  /*bottom: -60vh;*/
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-60vh);
    /*bottom: -60vh;*/
  }
}
