.MobileRightSidebar {
  position: absolute;
  bottom: 50%;
  right: 0;
  transform: translate(0, 50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  color: white;
}

.MobileRightSidebarButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: fit-content;
  padding: 0 1rem;
}

.MobileRightSidebarButton > img {
  width: 3em;
  height: 3em;

  /* Hack for changing svg color
   * source: https://stackoverflow.com/a/68589357
   *
   * White color
   */
  filter: invert(92%) sepia(100%) saturate(2%) hue-rotate(241deg) brightness(102%) contrast(101%)
    drop-shadow(0px 0px 4px rgb(0 0 0 / 0.4));
}

@media screen and (max-height: 500px) {
  .MobileRightSidebar {
    gap: 0.5rem;
  }

  .MobileRightSidebarButton {
    font-size: 1rem;
  }

  .MobileRightSidebarButton > img {
    width: 2em;
    height: 2em;
  }
}
