@import "../main.css";

.StreamArea {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.Stream {
  flex: 1;
  min-height: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.Hidden {
  position: absolute;
  z-index: -1;
  top: 0;
}

@media screen and (max-width: 500px), screen and (max-height: 500px) {
  .MobileHlsBar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
  }
}
