@import "./main.css";

.EventPage {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: var(--bg-light-color-1);
}

.MainGrid {
  flex: 1;
  min-height: 0;
  display: flex;
}
