@import "./main.css";

.EventsArea {
    overflow-y: scroll;
    height: 100%;
}

.example::-webkit-scrollbar {
    display: none;
}

.HeaderText {
    margin: 1em 1em 1em 0;
    font-size: 1.3em;
    color: var(--font-dark-color);
    font-weight: 600;
}

.EventField {
    display: flex;
    border: 1px solid var(--bg-light-color-3);
    border-radius: 24px;
    background-color: var(--bg-light-color-2);
    padding: 1em;
    margin: 1em 0 1em 0;
    color: var(--font-dark-color);
}

.EventImage {
    height: 12em;
    max-width: 15em;
    overflow: hidden;
    border-radius: 16px;
    margin-right: 1em;
    align-self: center;
}

.InfoBox {
    display: flex;
    flex-direction: column;
}

.EventPresenters {
    color: var(--font-medium-color);
}

.EventTitle {
    font-weight: 600;
    font-size: 1.5em;
    display: inline-block;
    width: fit-content;
}

.EventDate {
    margin-top: auto;
    display: flex;
    gap: 1em;
}

/* Foggy effect on top and bottom of scrollable area */

.FogWrapper {
    position: relative;
    flex: 1;
    height: fit-content;
    overflow: hidden;
}

.FogWrapper::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    position: absolute;
    display: block;
    content: "";
    background: linear-gradient(0, rgba(255, 255, 255, 0) 0%, #FFFFFF 99.99%, #FFFFFF 100%);
}

.FogWrapper::after {
    width: 100%;
    height: 30px;
    bottom: 0;
    position: absolute;
    content: "";
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 99.99%, #FFFFFF 100%);
}