@import url(https://fonts.googleapis.com/css?family=Roboto);

:root {
  --font-main: aktiv-grotesk, Roboto;
  --font-title: roc-grotesk, Roboto;

  --name-background-color: rgba(21, 26, 40, 0.5);
  --font-light-color: #dbe0f0;
  --font-dark-color: #001a72;
  --font-medium-color: #3f57a6;
  --font-medium-color-2: #2d4186;
  --font-medium-color-3: #506195;
  --bg-green: #339988;
  --bg-light-color-1: #ffffff;
  --bg-light-color-2: #f5f7fe;
  --bg-light-color-3: #bfccf8;
  --bg-light-color-4: #7089db;
  --button-red: #c32222;
  --button-red-hover: #e46767;
}

html {
  font-size: 10px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@media screen and (max-width: 500px), screen and (max-height: 500px) {
  html {
    overflow: auto;
  }
}

.FlexContainer {
  display: flex;
  justify-content: space-between;
  direction: column;
}

* {
  font-family: var(--font-main);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-open {
  opacity: 0;
}
