@import url(https://fonts.googleapis.com/css?family=Roboto);

:root {
  --font-main: "Roboto";

  --name-background-color: rgba(21, 26, 40, 0.5);
  --font-light-color: #dbe0f0;
  --font-dark-color: #001a72;
  --font-medium-color: #3f57a6;
  --font-medium-color-2: #2d4186;
  --bg-green: #339988;
  --bg-light-color-1: #ffffff;
  --bg-light-color-2: #f5f7fe;
  --bg-light-color-3: #bfccf8;
  --bg-light-color-4: #7089db;
  --button-red: #c32222;
}

html {
  font-size: 10px;
  font-family: var(--font-main);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
