@import "./main.css";

.Participants {
  width: 25%;
  background: var(--bg-light-color-2);
  display: flex;
  flex-direction: column;
  margin: 1em;
  border-radius: 24px;
  border: 1px solid var(--bg-light-color-3);
  overflow: hidden;
}

.ParticipantsButtons {
  padding: 1em 0;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.ParticipantsButton {
  width: 80%;
  border-radius: 16px;
  color: var(--font-dark-color);
  font-weight: 600;
  font-size: 1.1em;
  justify-self: center;
  padding: 0.5em 1em;
  white-space: nowrap;
}

.ParticipantsButton.Clicked {
  background: var(--font-dark-color);
  color: var(--bg-light-color-1);
}

.ParticipantsList {
  overflow-y: auto;
}

.Participant {
  display: flex;
  align-items: center;
  padding: 8px 24px;
  gap: 12px;
  width: 100%;
}

.ParticipantText {
  color: var(--font-dark-color);
  font-size: 1.2em;
  white-space: nowrap;
}

.OptionButton {
  height: 1.5em;
  width: auto;
  margin-left: auto;
}

.MenuText {
  color: var(--font-dark-color);
}

/* Participant Tooltip and color of menu items styled inside js file */
