@import "./main.css";

.RtcPlayer {
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PresenterVideo {
  object-fit: cover;
  min-height: 100%;
  z-index: 0;
}

.BottomBar {
  position: absolute;
  width: 100%;
  bottom: 3em;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.PresenterName {
  position: absolute;
  margin: 2em;
  border-radius: 16px;
  padding: 0.4em 1em;
  background: var(--name-background-color);
  color: var(--font-light-color);
  background-blend-mode: multiply;
  backdrop-filter: blur(12px);
}
