@import "./main.css";

.SideDashboardPanel {
    background: var(--font-dark-color);
    margin: 1em;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    color: var(--bg-light-color-3);
}

.LogoContainer {
    display: flex;
    color: var(--bg-light-color-1);
    margin: 2em 2em 2.7em;
    gap: 0.8em;
    align-items: center;
}

.LogoText {
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.DashboardPanelItems {
    margin: 1em 0 1em 2em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.PagesList {
    margin: 1em 0 1em 2em;
}

.PanelFooter {
    margin: auto 0 2.7em 2em;
}

.PanelText {
    font-size: 1.1em;
}

.ActiveButton {
    color: var(--bg-light-color-1);
}

.Accent {
    margin-left: auto;
    width: 0.2em;
    height: 130%;
    border-radius: 24px 0 0 24px;
}

.ActiveAccent {
    background: var(--bg-light-color-1);
}

.DashboardPanelButton {
    display: flex;
    gap: 0.5em
}
