@import "../main.css";

.Dashboard {
  background: var(--bg-light-color-1);
  width: 100vw;
  height: calc(var(--window-inner-height) - 1px);
  overflow: hidden;
  padding: 2.5rem;
  display: flex;
  gap: 2.5rem;
  box-sizing: border-box;
}

.MainDashboardArea {
  flex: 1;
  display: flex;
  flex-direction: column;
}
