@import "../main.css";

.EventsArea {
  overflow-y: scroll;
  height: 100%;
}

.HeaderText {
  color: var(--font-dark-color);
  font-family: var(--font-title);
  font-size: 2rem;
  font-weight: 500;
  margin: 2rem 0;
}

.EventList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 1rem;
}

.EventField {
  color: var(--font-dark-color);
  background: var(--bg-light-color-2);
  border: 1px solid var(--bg-light-color-3);
  border-radius: 24px;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.EventImageContainer {
  height: 18rem;
  max-width: 25rem;
  overflow: hidden;
  border-radius: 16px;
}

.InfoBox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.EventPresenters {
  font-family: var(--font-title);
  color: var(--font-medium-color);
  font-weight: 500;
  padding: 0.3rem 0;
  font-size: 1.6rem;
}

.EventTitle {
  font-family: var(--font-title);
  font-weight: 500;
  font-size: 2rem;
  padding-bottom: 0.5rem;
  display: inline-block;
  width: fit-content;
}

.EventDescription {
  color: var(--font-medium-color-2);
  font-size: 1.8rem;
  padding-bottom: 3rem;
}

.CalendarIcon path {
  stroke: var(--font-dark-color);
}

.EventDate {
  font-size: 1.6rem;
  margin-top: auto;
  display: flex;
  gap: 1em;
}

.EventModifyBox {
  margin-top: auto;
  margin-left: auto;

  display: flex;
  direction: column;

  gap: 2rem;
  font-size: 1.6rem;
}

.EventUpdateButton {
  font-weight: 600;
}

.EventUpdateButton:hover {
  color: var(--font-medium-color);
}

.EventDeleteButton {
  font-weight: 600;
  color: var(--button-red);
}

.EventDeleteButton:hover {
  color: var(--button-red-hover);
}

.EmptyText {
  color: var(--font-dark-color);
  font-size: 1.5rem;
  padding-left: 2.4rem;
}

/* Foggy effect on top and bottom of scrollable area */

.FogWrapper {
  position: relative;
  flex: 1;
  height: fit-content;
  overflow: hidden;
}

.FogWrapper::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  position: absolute;
  display: block;
  content: "";
  background: linear-gradient(0, rgba(255, 255, 255, 0) 0%, #ffffff 99.99%, #ffffff 100%);
}

.FogWrapper::after {
  width: 100%;
  height: 1rem;
  bottom: 0;
  position: absolute;
  content: "";
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 99.99%, #ffffff 100%);
}
