@import "../main.css";

.EventsArea {
    overflow-y: scroll;
    height: 100%;
}

.HeaderText {
    color: var(--font-dark-color);
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem 0;
}

.EventList {
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.EventField {
    color: var(--font-dark-color);
    background: var(--bg-light-color-2);
    border: 1px solid var(--bg-light-color-3);
    border-radius: 24px;
    padding: 2rem;
    display: flex;
    gap: 2rem
}

.EventImage {
    height: 18rem;
    max-width: 25rem;
    overflow: hidden;
    border-radius: 16px;
}

.InfoBox {
    display: flex;
    flex-direction: column;
}

.EventPresenters {
    color: var(--font-medium-color);
    padding: 0.3rem 0;
    font-size: 1.6rem;
}

.EventTitle {
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 0.5rem;
    display: inline-block;
    width: fit-content;
}

.EventDescription {
    font-size: 1.8rem;
    padding-bottom: 3rem;
}

.EventDate {
    font-size: 1.6rem;
    margin-top: auto;
    display: flex;
    gap: 1em;
}

/* Foggy effect on top and bottom of scrollable area */

.FogWrapper {
    position: relative;
    flex: 1;
    height: fit-content;
    overflow: hidden;
}

.FogWrapper::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    position: absolute;
    display: block;
    content: "";
    background: linear-gradient(0, rgba(255, 255, 255, 0) 0%, #FFFFFF 99.99%, #FFFFFF 100%);
}

.FogWrapper::after {
    width: 100%;
    height: 1rem;
    bottom: 0;
    position: absolute;
    content: "";
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 99.99%, #FFFFFF 100%);
}