@import "../main.css";

.EventFormFieldDiv,
.EventFormDiv {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;

  font-size: 1.5rem;
  color: var(--font-dark-color);
}

.EventFormFieldLabel {
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.EventFormFieldInput {
  border: 2px solid var(--font-dark-color);
  border-radius: 25px;
  padding: 1rem;
}

.EventFormFieldWithButtonDiv {
  display: flex;
  justify-content: space-between;
}

.EventFormFieldWithButtonDiv > input {
  flex-grow: 2;
  border: none;
  outline: none;
}

#EventFormDescriptionField {
  height: 10rem;
  border-radius: 1.5rem;
}

.EventFormUnorderedList {
  padding: 0rem 1.1rem 0rem 2rem;
  margin-top: 0.5rem;
  margin-left: 2rem;
}