@import "../main.css";

.SearchInput {
    font-size: 1.6rem;
    border: 0;
    outline: 0;
    width: 100%;
}

.SearchInput:focus {
    outline: none !important;
}

.SearchAndCreatePanel {
    display: flex;
    padding: 1.6rem 0;
}

.SearchBar {
    color: var(--font-dark-color);
    width: 30rem;
    border: 1px solid var(--bg-light-color-4);
    border-radius: 40px;
    padding: 1.2rem;
    display: flex;
    align-items: center;
    gap: 0.75em;
}

.FormButton {
    color: var(--bg-light-color-1);
    background: var(--font-dark-color);
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 40px;
    padding: 1.2rem 3rem;
    margin-left: auto;
}
