@import "../main.css";

.UserField {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.UserIcon {
  border-radius: 50%;
  height: 4.5rem;
  width: auto;
}

.UserIcon path {
  stroke: var(--font-dark-color);
}

.UserName {
  color: var(--font-dark-color);
  font-size: 2rem;
}
